@use "../mixins.sass" as *

.blogs-container
  @include align-vertical
  // .blogs-navbar
  //   width: max-content
  //   padding-bottom: 1rem
  //   ul
  //     display: flex
  //     list-style: none
  //     gap: auto
  //     li
  //       font-size: 1.5rem
  //       border-bottom: 2px solid transparent
  //       padding: 3px 16px
  //       cursor: pointer
  //       font-weight: bold
  //       &:hover
  //         transition: 0.5s ease
  //         color: $pink
  //         border-color: $pink

  .blogs
    padding: 0
    margin-top: 2rem
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 2rem
    column-gap: 2rem
    width: 100%
    min-height: 300px
    height: max-content
    .card-wrapper
      min-height: 200px
    .blog-preview
      margin-bottom: 2rem
      h2
        color: $pink
        padding: 0.7rem 0
      p
        color: var(--grey)
        width: 70%
      h4
        color: #73737D
        padding-top: 0.7rem
      .blog-img
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: auto
        aspect-ratio: 16/9
        @media (max-width: 500px)
          max-height: auto !important


