@use "../../index.sass" as *

.blogs-container
  @include align-vertical
  .blogs-navbar
    width: max-content
    padding-bottom: 1rem
    ul
      display: flex
      list-style: none
      gap: auto
      li
        font-size: 1.5rem
        border-bottom: 2px solid transparent
        padding: 3px 16px
        cursor: pointer
        font-weight: bold
        &:hover
          transition: 0.5s ease
          color: $pink
          border-color: $pink

  .blogs
    padding: 0
    margin-top: 2rem
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 2rem
    column-gap: 2rem
    width: 100%
    .blog-preview
      margin-bottom: 2rem
      h4
        color: $grey
        padding-top: 0.5rem
      h2
        color: $pink
        padding: 0.7rem 0
      p
        color: $grey
      h3
        color: $grey
        padding-top: 1rem
      .blog-img
        background-image: url(../../images/25788.jpg)
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 300px
