@use "../../index.sass" as *
  
.header-container
  display: flex
  height: max-content
  padding: 6rem 0 8rem 0
  .header-description
    @include justify-vertical
    width: 60%
    flex: 3
    h1
      color: $pink
      padding: 0
      font-size: 52px
      font-weight: 700
    h3
      font-size: 52px
      font-weight: 500
      margin-bottom: 1.5rem
    p
      width: 90%
      font-size:18px
      font-weight:400
  .illustration-container
    // height:100%
    display: flex
    justify-content: center
    align-items: center
    flex: 3
    width: 100%
    .illustration
      background-image: url('../../images/1-01.png')
      background-size: cover
      height: max-content
      background-repeat: no-repeat
      height: 300px
      width: 500px
