#phantom
  height: 85px
  background: transparent


:root
  --grey : #424242

.navbar-container
  backdrop-filter: blur(10px)
  position: fixed
  z-index: 9
  width: 100vw
  .navbar
    width: 80vw !important
    margin: auto
    display: flex
    align-items: center
    justify-content: center
    padding-top: 1.2rem
    padding-bottom: 1rem
    z-index: 10

    @media (max-width: 1250px)
      width: 87vw !important
    @media (max-width: 1000px)
      width: 90vw !important
    @media (max-width: 700px)
      width: 92vw !important


    .logo
      margin-right: auto
    #logo
      font-weight: bolder
      color: var(--grey)
      font-size: 2.5rem
      @media (max-width: 500px)
        font-size: 2rem
      @media (max-width: 400px)
        font-size: 1.8rem
    .links
      list-style: none
      display: flex
      gap: 2rem
      @media (min-width: 1250px)
        padding-right: 2rem
      align-items: flex-start
      align-items: center
      // li
      //   font-size: 14px
      //   opacity: 0.5
      //   &:hover
      //     transition: 5s ease in-out
      //     color:  purple
      //     opacity: 0.7

.shadow
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%)
