@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat')

:root
  --grey : #424242
  --title-color : #000
  --faded : #73737D


.blog
  padding: 5rem  1rem
  del
    text-decoration: line-through
  blockquote
    color: red
  hr
    border: none
    border-bottom: 1px solid var(--grey)
    margin: 1rem 2rem
  p
    width: 100%


  .image__container
    display: flex
    justify-content: center
    .img
      height: 370px
      background-position: center
      background-repeat: no-repeat
      @media ( max-width: 750px)
        height: 300px
      @media ( max-width: 500px)
        height: 250px
    .blog__image
      width: 80%
      border-radius: 5px
      margin: 1rem 0
      @media ( max-width: 970px )
        width: 95%
  .quote__container
    border-left: 4px solid #e4e5e6
    margin-top: 0.7rem
    margin-bottom: 0.7rem
    padding: 1rem 1.5rem
    padding-right: 0rem
    border-radius: 5px
    .quote
      font-style: italic
      font-family: 'Walter Turncoat', cursive

  ul
    padding-left: 2.5rem  
    gap: 1rem
    a
      color:#3fb6f3
  .contains-task-list
    list-style: none


  code
    background-color: #eeeff0
    font-size: 18px 
    padding: 3px
    color: #b98044

  //   left: 50%
  //   top: 50%
  //   -webkit-transform: translateX(-50%) translateY(-50%)
  //   -moz-transform: translateX(-50%) translateY(-50%)
  //   transform: translateX(-50%) translateY(-50%)

.blog__header
  padding-top: 1rem
  .banner__container
    display: flex
    .banner__img
      margin: 0 auto
      width: 95%
      aspect-ratio: 16/9
      border-radius: 3px
  // position: absolute
  .title__container
    margin: 100px auto
    display: flex
    align-items: center
    flex-direction: column
    .title
      font-size: 48px
      margin-bottom: 25px
      font-weight: bold
      line-height: 1.32
      display: block
      font-size: 2em
      width: 60%
      text-align: center
      color: var(--title-color)
      @media (max-width: 600px)
        font-size: 40px !important
        width: 80% !important
      @media (max-width: 450px)
        font-size: 35px !important
        width: 80% !important
    .title__underline
      h4
        color: var(--faded)
        font-size: 1rem

.loader__container
  height: calc(100vh - 300px)
  display: flex
  justify-content: center
  align-items: center